@charset "UTF-8";

/* componente layout  */
.fs-container {
    height: 100%;
    width: 100%;
}
.fs-inner-container {
    width: 45%;
    background-color: #fff;
    z-index: 10;
    float: left;
    display: inline-block;
}
.fs-inner-container.content {
    width: 55%;
    background-color: #f7f7f7;
    z-index: 995;
    box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.12);
    position: relative;
}

@media screen and (max-width: 800px) {
	.fs-inner-container {
    	width: 100% !important;
    };
    .fs-inner-container.content {
    	width: 100% !important;
    }
    .fs-inner-container.map-fixed {
    	position: static !important;
    	top: auto !important;
    }
}
.fs-inner-container.map-fixed {
    height: 100vh;
    position: fixed;
    top: 0;
}
.fs-content {
    max-height: 100%;
    padding: 40px 0;
}
.fs-switcher {
    padding: 0 25px;
    margin: 0;
}
.showing-results {
    color: #888;
    font-weight: 500;
    margin: 5px 0 25px 0;
}
.fs-container .fs-listings {
    padding: 0 25px;
    margin: 0;
}

#map {
    height: 100%;
    width: 100%;
    margin: 0;
    z-index: 990;
}

/* listing cards  */
.card-content {
	background: #ffffff;
	border: 4px;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
	margin-bottom: 20px;
}
.card-img {
	position: relative;
	overflow: hidden;
	border-radius: 0;
	z-index: 1;
}
.card-img img {
	width: 100%;
	height: auto;
	display: block;
}
.card-img span {
	position: absolute;
    top: 15%;
    left: 12%;
    background: #1ABC9C;
    padding: 6px;
    color: #fff;
    font-size: 12px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    transform: translate(-50%,-50%);
}
.card-img span h4{
    font-size: 12px;
    margin:0;
    padding:10px 5px;
     line-height: 0;
}
.card-desc {
	padding: 1.25rem;
}
.card-desc h3 {
	color: #000000;
    font-weight: 600;
    font-size: 1.5em;
    line-height: 1em;
    margin-top: 0;
    margin-bottom: 2px;
    padding: 0;
}
.card-desc p {
	color: #747373;
    font-size: 14px;
	font-weight: 400;
	font-size: 1em;
	line-height: 1.5;
	margin: 0px;
	margin-bottom: 0;
	padding: 0
}
.card-desc p i {
	font-family: "FontAwesome";
}
.listing-item-container:hover {
	text-decoration: none !important;
	border: none;	
}
/* End listing card section */

/* ---------------------------------- */
/* Pagination
------------------------------------- */
.pagination-container {
	width: 100%;
	text-align: center;
}


/* ---------------------------------- */
/* Google Maps
------------------------------------- */
.infoBox { border-radius: 4px; }

.map-box {
	background-color: #fff;
	margin-bottom: 20px;
	border-radius: 4px;
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.12);
	position: relative;
}

.map-box .listing-img-container img {
    width: 100%;
    border-radius: 4px 4px 0 0;
}

.map-box h4 {
	margin: 0;
	padding: 0;
}

.map-box h4 a {
	padding: 0 0 2px 0;
	font-size: 17px;
	line-height: 25px;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	display: inline-block;
}

.listing-img-container {
	position: relative;
	height: 100%;
	display: block;
}
.listing-img-container:hover {
	text-decoration: none;
}

.map-box h4 a:hover { color: #66676b; }

.map-box p {
	padding: 0;
	line-height: 25px;
	margin: 2px 0 0 0;
	font-size: 14px;
}

.map-box ul.listing-details {
	padding: 0;
	font-size: 14px;
	display: none;
}

.map-box .listing-title {
	padding: 16px 22px;
}


.map-box .listing-img-content {
	padding: 18px 22px;
}


.map-box .listing-img-content span {
	font-size: 21px;
}

.map-box .listing-img-content .listing-price i {
    font-size: 15px;
    margin: -7px 0 0 0;
}


.infoBox > img {
	position: absolute !important;
	right: 0px;
	top: 0px;
}

.map-box .listing-item-content {
    padding: 10px 24px;
    width: 100%;    
    box-sizing: border-box;
    background: #fff;    
}

.map-box .listing-item-content h3 {
    color: #000;
    font-size: 18px;
    padding: 0 0 2px 0;
    font-weight: 500;
    margin: 0;
    line-height: 1em;
    margin-bottom: 2px;
}

.map-box .listing-item-content span {
    font-size: 14px;
    font-weight: 300;
    display: inline-block;
    color: #747373;
    line-height: 1em;
}
.map-box .listing-item-content span i {
	font-family: "FontAwesome";
}


/* Close Button */
.infoBox-close {
	position: absolute;
	top: 10px;
	right: 10px;
	display: inline-block;
	z-index: 999;
	text-align: center;
	line-height: 29px;
	cursor: pointer;
	font-size: 15px;
	font-weight: 500;
	height: 29px;
	width: 29px;
	background-color: #fff;
	color: #333;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	font-family: "FontAwesome";
	border-radius: 50%;
	-webkit-text-stroke: 1px #fff;
}

.infoBox-close:hover {
	color: #fff;
	background-color: #66676b;
	-webkit-text-stroke: 1px #66676b;
}


/* Read More Icon */
.map-box-icon {
	height: 38px;
	width: 38px;
	position: absolute;
	bottom:0;
	right:0;
	background-color: #3685cf;
	display: block;
	color: #fff;
	font-size: 12px;
	z-index: 101;
	text-align: center;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	-webkit-transform: translateX(50%);
	-ms-transform: translateX(50%);
	transform: translateX(50%);
	opacity:0;
	visibility: hidden;
}

.map-box-icon:before {
	content: "\f064";
	font-family: "FontAwesome";
	position: relative;
	top: 7px;
	display: block;
}

.map-box-image:hover .map-box-icon {
	opacity: 1;
	visibility: visible;
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateX(0);
}

.map-box-image {
	position: relative;
	overflow: hidden;
	display: block;
}

.infoBox {
	-webkit-animation: fadeIn 0.9s;
	animation: fadeIn 0.9s;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes fadeIn {
    from {opacity: 0; }
    to {opacity: 1; }
}

/* Standard syntax */
@keyframes fadeIn {
    from {opacity: 0; }
    to {opacity: 1; }
}

.infoBox:after {
	content: "";
	position: absolute;
	bottom: 0px;
	left: 50%;
	transform: translateX(-50%);
	width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 20px solid #fff;
}

#map {
	height: 100%;
	width: 100%;
	margin: 0;
	z-index: 990;
}

#map-container {
	position: relative;
	top: 0;
	left: 0;
	height: 520px;
	width: 100%;
	z-index: 990;
	margin-bottom: 60px;
}

.gmnoprint { margin: 10px; }


#map-container.fullwidth-home-map {
    height: 620px;
    margin-bottom: 0;
}

#map-container.fullwidth-home-map .main-search-inner {
    position: absolute;
    display: block;
    bottom: 60px;
    top: auto;
    transform: none;
    padding-bottom: 0;
    z-index: 9999;
    margin-top: 0;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

#map-container.fullwidth-home-map .main-search-input {
    margin-top: 0;
}


/* Cluster styles */
.cluster img { display:none }

.cluster div {
	text-align: center;
	font-size: 15px !important;
	color: #fff !important;
	font-weight: 500;
	border-radius: 50%;
	width: 36px !important;
	height: 36px !important;
	line-height: 36px !important;
	background-color: #66676b;
}

.cluster div:before {
	border: 7px solid #66676b;
	opacity: 0.2;
	box-shadow: inset 0 0 0 4px #66676b;
	content: '';
	position:absolute;
	border-radius: 50%;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	animation: cluster-animation 2.5s infinite;
}

@keyframes cluster-animation {
	0%,100% {
		transform:scale(1.3) rotate(0deg)
	}
	50% {
		transform:scale(1.5) rotate(90deg)
	}
}



/* Custom Marker */
.map-marker-container {
	position: absolute;
	margin-top: 10px;
	transform: translate3d(-50%,-100%,0);
}

.marker-container {
	position: relative;
	margin: 10px auto;
	width: 40px;
	height: 40px;
	z-index: 1;
	border-radius: 50%;
	cursor: pointer;
	top: -5px;
}

#singleListingMap .marker-container { cursor: default; }

.marker-container { perspective: 1000; }

.marker-card {
	width: 100%;
	height: 100%;
	transform-style: preserve-3d;
	transition: all 0.4s ease-in-out;
	position: absolute;
	z-index: 1;
}

.marker-container:hover .marker-card,
.map-marker-container.clicked .marker-card { transform: rotateY(180deg) translateY(-4px); }

.marker-arrow {
	width: 0;
	content: "";
	height: 0;
	border-style: solid;
	border-width: 8px 4px 0;
	border-color: #66676b transparent transparent;
	top: 38px;
	left: 50%;
	transform: translateX(-50%);
	position: absolute;
	border-radius: 50%;
	z-index: 1;
	background: #000;
}


.face {
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	text-align: center;
	border-radius: 50%;
	color: #fff;
	z-index: 100;
}

.face i {
	font-family: "FontAwesome";
	line-height: 34px;
	font-size: 20px;
}

.face.front {
	background-color: #fff;
	border: 2px solid #66676b;
	color: #66676b;
	z-index: 100;
}

.face.back {
	transform: rotateY(180deg);
	box-sizing: border-box;
	background: #66676b;
	border-color: #66676b;
	color: #fff;
}

.face.back i { trasform: scaleX(-1); line-height: 38px; font-size: 18px; }

.face.back:after {
	content: "";
	display: block;
	width: 36px;
	height: 36px;
	top: 2px;
	left: 2px;
	border: 1px solid rgba(255,255,255,0.65);
	border-radius: 50%;
	position: absolute;
}



/* Custom Zoom Buttons
------------------------------------- */
.custom-zoom-in,
.custom-zoom-out {
	background-color: #fff;
	color: #333;
	cursor: pointer;
	border-radius: 50%;
	margin: 5px 15px;
	transition: color 0.3s, background-color 0.3s;
	box-shadow: 0px 1px 4px -1px rgba(0, 0, 0, 0.2);
	text-align: center;
	font-size: 15px;
	height: 34px;
	width: 34px;
}

.custom-zoom-in:hover,
.custom-zoom-out:hover {
	background-color: #66676b;
	color: #fff;
}

.custom-zoom-in:before,
.custom-zoom-out:before  {
	font-family: "FontAwesome";
	width: 100%;
	line-height: 35px;
	transition: -webkit-text-stroke 0.3s;
	-webkit-text-stroke: 1px #fff;
}

.zoomControlWrapper {
	position: absolute;
	left: 0;
	right: auto;
	width: 70px;
}

.custom-zoom-in:before { content: "\f067"; }
.custom-zoom-out:before  { content: "\f068"; }


.custom-zoom-in:hover:before,
.custom-zoom-out:hover:before  { -webkit-text-stroke: 1px #66676b;  }
