{% set categories = __SELF__.categories %}
<!-- Content
================================================== -->
<div class="fs-container" id="mapComponent">
	<div class="fs-inner-container content">
		<div class="fs-content">
			<!-- Search / End -->
			<section id="listing-container" class="listings-container"></section>
		</div>
	</div>
	<div class="fs-inner-container map-fixed">
		<!-- Map -->	
		<div id="map" data-map-zoom="{{ __SELF__.zoom }}" data-map-scroll="true" data-latitude="{{ __SELF__.lat }}" data-longitude="{{ __SELF__.lng }}" data-map-scroll="0"></div>
		<div id="markers-container"></div>	    		
	</div>
</div>
<!-- Wrapper / End -->