{% set posts = __SELF__.posts %}
{% set noPostsMessage = __SELF__.noPostsMessage %}

<!-- Sorting / Layout Switcher -->
{% if posts.count %}
<div class="row fs-switcher">
	<div class="col-md-12">
		<!-- Showing Results -->
		<p class="showing-results"><span>{{ posts.count }}</span> Results found</p>
	</div>
</div>

<!-- Listings -->
<div class="row fs-listings">	
	<!-- Listing Item -->
	{% for post in posts %}
	<div class="col-lg-6 col-md-12">
        <div class="card-content">
        	<a href="{{ post.url }}/{{ post.slug }}" class="listing-item-container" data-marker-id="{{ post.id }}">
	            <div class="card-img">
	                {% if post.featured_images.count %}
	    			{% for image in post.featured_images|slice(0,1) %}
					<img src="{{ image.path }}" alt="{{ image.description }}">
					{% endfor %}
	            	{% endif %}
	            </div>
	            <div class="card-desc">
	                <h3>{{ post.title }}</h3>
	                <p><i class="fa fa-map-marker"></i> {{ post.address }}</p>   
	            </div>
        	</a>
        </div>
    </div>
	<!-- Listing Item / End -->
	{% endfor %}
	<div class="clearfix"></div> 

	<div class="pagination-container">
		{{ posts.links|raw }}
	</div>
</div>
{% else %}
<h3 class="text-center">{{ noPostsMessage }}</h3>
{% endif %}	
<!-- Listings Container / End -->