{% set jsPosts = __SELF__.jsPosts %}
<script>
	// Locations
    var locations = {{ jsPosts|json_encode|raw }};
    var zoom = parseInt( $('#map').data('map-zoom') );
    var latitude = parseFloat( $('#map').data('latitude') );
    var longitude = parseFloat( $('#map').data('longitude') );
    // reset map state
    if (latitude && longitude) map.setCenter( new google.maps.LatLng(latitude, longitude) );
    if (zoom) map.setZoom(zoom);
</script>
<script src="/plugins/laravel42/places/assets/js/markers.js"></script>